.onglets{
	text-align:right; /*aligner le texte a droite*/
	padding: 10px; /*espace entre les contenus */
	background-color: #3E78E5; /*Définis le couleur de fond de la nav barre*/
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Permet de créer une ombre autour de chaque élements*/
}
nav .onglets a:hover {
	background-color : #0056AB ; /*Quand je survole l'élément, la couleur change*/
}

nav .onglets {
	display: flex; /*Rendre le positionnement des élements plus facile, flexible*/
	justify-content: space-between; /*Aligner les élements et faire un espace entre chaque*/
}

nav .onglets a{
	color: white; /*change la couleur du texte en blanc*/
	border-radius: 3px;/*arrondir les bords de 3px*/
	font-size: 20px; /*change le taille du texte*/
	text-decoration: none; /*Permet de retirer le soulignement de l'URL*/
}

#titre{
	text-align: center; /*aligner le texte au centre*/
	font-size: 50px;/*Modifier la taille de la police*/
	color: #3E78E5; /*Changer la couleur du texte*/
	text-decoration: underline;/* Pour souligner le texte*/
}

footer{
	background-color: #3E78E5;/* Mettre une couleur de fond*/
}
footer p{
	color: white;/* Changer la couleur du texte en blanc*/
	text-align: center;/*Aligner le texte au centre*/
	font-size: 25px; /*Modifier le taille du texte*/
}

#pj{
	font-size: 25px;/*Changer la taille de la police*/
	margin-left: 50px;/*Mettre une marge de 50 px par rapport à la gauche*/
	font-weight: bold; /* Mettre le texte en gras*/
	text-decoration: underline;/* Pour souligner le texte*/
	color: #3E78E5; /*Changer la couleur du texte*/
}

.pjt{
	margin-left: 70px; /*Mettre une marge de 70px par rapport à la gauche*/
	font-weight: bold; /*Mettre le texte en gras */
	font-size: 20px; /*Chnager la taile de la police*/
}